span{
    color: gold;
}
table{
    background-color: gray;
}
.A1{
    color:darkgray;
}
.A2{
    color:white;
    font-family:Calibri;
    font-style: italic;
}
table tr:last-child td:last-child{
    color: orange;
}
tr td div{
    color:red;
}
img{
    width: 10px;
}